body{
  background-image: url("background.jpg");
  background-size:cover;
}

title{
  display: none;
}

h2.header{
  font-size:xxx-large;
  color:mediumpurple;
  text-align: center;
} 

.card{
  float: left;
  padding: 20px;
  border: 2px turquoise;
  border-style: solid;
  border-radius: 15px;
  border-top-width: 10px;
  margin-left: 5px;
  inline-size: 300px;
  min-height: 400px;
}

span{
  color:plum;
}

.img
{
max-width: 150px;
max-height: 150px;
align-items: flex-start;}


